<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<script src="../controllers/guard.ts"></script>-->
    <link rel="stylesheet" href="../style.css">
    <title>Home</title>
</head>
<body>
    <nav>
        <div id="nav-options">
            <ul>
               <li><button id="logout-button">log out</button></li>
            </ul>
        </div>
    </nav>
    <main>
        <h3> Create a New Post </h3>
        <div id="form-container">
            <form id="post-form">
                <input type="hidden" id="post-id">
                <input type="text" id="post-title" placeholder="Titulo">
                <input type="text" id="plataforma" placeholder="plataforma">
                <input type="text" id="fecha" placeholder="fecha">
                <input type="url" id="image" placeholder="image url">
                <button type="submit">send</button>
            </form>
        </div>
        <div id="cards-container"></div>
    </main>
    
    <script type="module" src="../controllers/logaut.ts"></script>
    <script type="module" src="../home.ts"></script>
</body>
</html>