<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../../dist/ts/hook.js"></script>
    <link rel="stylesheet" href="../../public/style/style.css">
    <title>Home</title>
</head>
<body>
    <nav>
        <div id="nav-title">
            <h1><a href="../views/home.html">Colombian Cities</a></h1>
        </div>
        <div id="nav-options">
            <ul>
               <li><button id="logout-button">log out</button></li>
            </ul>
        </div>
    </nav>
    <main>
        <h3>Create a New City Card</h3>
        <div id="form-container">
            <form id="city-form">
                <input type="hidden" id="city-id">
                <input type="text" id="city-name" placeholder="name">
                <input type="text" id="city-department" placeholder="department">
                <input type="text" id="city-description" placeholder="description">
                <input type="url" id="city-image" placeholder="image url">
                <button type="submit">send</button>
            </form>
        </div>
        <div id="cards-container"></div>
    </main>
    
    <script type="module" src="../../dist/ts/logout.js"></script>
    <script type="module" src="../../dist/ts/home.js"></script>
</body>
</html>