<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/login-register.css">
    <title>login</title>
  </head>
  <body>
    <nav>
        <ul>
          <li><a href="/src/views/login.html">login</a></li>
          <li><a href="/src/views/register.html">registro</a></li>
          <li><a href="../../index.html">inicio</a></li>
        </ul>
      </nav>

      <main>
        <form id="loginForm">
          <input type="email" id="emailUser" placeholder="email">
          <input type="password" id="passwordUser" placeholder="contraseña">
          <input type="password" id="passwordUser" placeholder="confirmar contraseña">
          <button type="submit">enviar</button>
        </form>
        
      </main>
      <script type="module" src=""></script>
  </body>
</html>